node_modules
dist
dist-ssr
*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Windows Zone Identifier files
*:Zone.Identifier
**/*:Zone.Identifier
*Zone.Identifier*
**/*Zone.Identifier*
